<div class="container">
  <form action="/chat_send" method="post">
    <div class="form-group">


      <input type="text" class="form-control" id="User_Input" name="User_Input" placeholder="Say Something....">

      <input type="hidden" name="authenticity_token" value="chat_send_post_action_token">
    </div>
  </form>
</div>
